@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
* {
    margin: 0;
    padding: 0;
}

header,
main,
footer,
nav,
aside,
section,
div {
    display: block;
}

#logo {
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    display: block;
    margin-top: 10px;
}

.navbar {
    padding-right: 20px;
}