#logo {
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    display: block;
    margin-top: 10px;
}

nav {
    background-color: #b3d1e5;
}