* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header,
main,
footer,
nav,
aside,
section,
div,
a {
    display: block;
}

.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}